*{
    font-family: 'Roboto', sans-serif; 
}

div{
    font-weight: 300;
}

p{
    font-family: 'Architects Daughter', cursive;  
}

ul{
    list-style-type: none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color: #333;
}
li{
    float:left;

}
li a, .dropbtn{
    display:inline-block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn{
    background-color: #0088ce;
}
li.dropdown{
    display:inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px;
}
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display:block;
    text-align: left;
}

.dropdown-content a:hover{
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content{
    display:block;
}

@media only screen and (max-width: 767px){
    .mytext{
        color:green;
    }
}

@media only screen and (min-width: 768px){
    .mytext{
        color:red;
    }
}